html {
  font-family: Helvetica;
  text-align: center;
}

nav {
  font-size: 18px;
}

nav ul {
  list-style-type: none;
}

a {
  color: white;
}

nav,
h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.new-york {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}
